@charset "UTF-8";
/* CSS Document */

/*********************** SLIDESHOW */

#slideshow {
	width:100%;
}

#slideshow li {
	background:url(../images/template/header-grad.png) repeat-x;
	width:100% !important;
}

#slideshow img {
	display:block;
	margin-left:auto;
	margin-right:auto;
}


/************************** CAROUSEL */

/* containing box */

#main {
	width:1040px;
}

.box-full {
	margin:0 auto;
}

#main h2 {
	padding-left:35px;
}


/* buttons */

img.back, img.next {
	cursor:pointer;
	background-color:#661B23;
	position:relative;
	top:65px;
}

img.back:hover, img.next:hover {
	background-color:#e31b23;
}

img.back.disabled, img.next.disabled {
	background-color:#ccc;
}

img.back {
	float:left;
	left: 0;
}

img.next {
	float:right;
	right:0;
}


#news {
	display:block;
	padding:10px;
	height:180px;
	overflow:hidden;
	width:970px;
	margin:0 auto;
}

#news {
	padding:5px;
}

#news li {
	display:block;
	width:232px;
	float:left;
	padding:5px;
	cursor:pointer;
	height:185px;
}

#news li a.news {
	display:block;
	text-decoration:none;
	background:url(../images/template/arrow-news.png) left 6px no-repeat;
	padding:5px 0 5px 12px;
	margin-top:5px;
}

#news li a:link, #news li a:visited, #news li a:active {
	color:#6B6B6B;
}

#news li a:hover {
	color:#661B23;
	text-decoration:underline;
}


/*********************** OVERRIDES */

.box-full {
	min-height:195px;
}

#header-pic {
	margin-bottom:15px;
}
