@charset "UTF-8";
/* CSS Document */

/** nav **/
#nav li a, #nav li a:visited { background-position: center 44px; }
#nav li a, #nav li a:visited { padding-bottom:8px; }
#nav li a:hover, #nav li a.selected { background-position:center 34px; }

#searchtext  { width:100px; }