@charset "UTF-8";
/* CSS Document */

body { background-color:#f9f9f9; min-width:960px; }

#header, #header_shadow, #footer, #promo, #jaggy, #call2act { width:100% }

#header { background:url(../images/header_grad.gif) repeat-x #442534; height:112px; position:fixed; top:0; z-index:999; }
#header_content { position:relative; }
#header_shadow { background:url(../images/header_shadow.png) repeat-x; height:8px; position:fixed; top:112px; z-index:998; }
#header a.social { display:block; width:27px; height:26px; background-position:top; position:absolute; bottom:10px; right:0; }
#header a.social:hover { background-position:bottom; }
#header a.facebook { background-image:url(../images/facebook.png); } 
#top { position:absolute; right:0; top:15px; width:250px; }
#promo, #sub_promo { background:url(../images/promo_bg.jpg) repeat-x top center #68c9cb; height:390px; margin-top:112px; position:relative; top:0; }
#sub_promo { height:100px; }
#jaggy { background:url(../images/jaggy.png) repeat-x; height:15px; position:absolute; bottom:0; margin-bottom:-1px; }

#search { background-color: rgba(255, 255, 255, 0.1); background-image: none; border-radius: 12px 12px 12px 12px; box-shadow: 0 2px 1px rgba(0, 0, 0, 0.6) inset, 0 1px 0 rgba(255, 255, 255, 0.2); height: auto; padding: 0; position: absolute; top:5px; right:5px; width:150px }
#search label { display:none; }
#searchtext { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; background:#76405a; border-radius: 12px 12px 12px 12px; height: 19px; padding: 2px 15px 1px 26px; color:#fff; border:0 none; width: 100%;  }
#search-icon { display:block; width:16px; height:16px; position:absolute; background:url(../images/search.png) no-repeat; top:8px; right:133px; }

#content { min-height:200px; margin-top:50px; }

#promo .text { margin-top:120px; }
.promoImg { position:relative; } 
#screenImg { position:absolute; top:25px; }
#appImg { position:absolute; top:55px; right:0; }
.bigButton { float:right; position:relative; }
#promo .bigButton { margin:270px 40px 0 0; }

.feature, .feature.sub { height:245px; border:solid 5px #fff; padding:20px; width:170px; position:relative; }
.feature.sub { width:860px; height:140px; padding:40px; margin-bottom:30px; }
.feature img { margin:0 10px 10px 10px; }
.feature.sub img { float:right; border-left:solid 5px #fff; padding:0; margin:-40px -40px 0 40px; }
.feature a.arrowlink { position:absolute; bottom:10px; right:10px; }
.feature.sub  .featureText { position:absolute; bottom:10px;}

.greyBox { padding-top:20px; padding-bottom:20px; }
.spec { display:block; margin:10px 40px; padding-left:100px;  padding-bottom: 20px;  }
.spec.support { background:url(../images/support.png) no-repeat left top; } 
.spec.privacy { background:url(../images/privacy.png) no-repeat 30px top; } 
.spec.security { background:url(../images/security.png) no-repeat 5px top; }

#pricing { padding-bottom:40px; }
.pricePic { padding-left:30px; }

.roundBox  { border:solid 5px #fff; }
.rule { border-top:1px solid #CCC; border-bottom:1px solid #f4f4f4; width:100%; height:1px; visibility:visible; background:#eae9e9; margin:45px 0; }
.greyBox .rule { margin:20px auto; width:900px }
.divider { border-right:1px solid #dedede; }
.container_12 .grid_6.divider { width:459px; }

#call2act { background:url(../images/call2act_bg.gif) repeat-x top #abdfe0; height:110px; margin-top:60px; padding-top:30px; }
#footer { background:#442534; height:56px; }



/** nav **/
#nav { position:absolute; bottom:0; right:40px; padding-bottom:8px;}
#nav li { display:block; float:left;}




/** css3 **/

/** round corners **/
.roundBox, .feature, .greyBox { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }

/** drop shadows **/
.feature, .roundBox, .bigButton  { -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25); box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25); }

.feature { background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top, #f9f9f9 0%, #ebebeb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f9f9f9 0%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f9f9f9 0%,#ebebeb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f9f9f9 0%,#ebebeb 100%); /* IE10+ */
	background: linear-gradient(top, #f9f9f9 0%,#ebebeb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
}

.greyBox {	
	background: #f0f0f0; /* Old browsers */
	background: -moz-linear-gradient(top, #f0f0f0 0%, #e0dede 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#e0dede)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f0f0f0 0%,#e0dede 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f0f0f0 0%,#e0dede 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f0f0f0 0%,#e0dede 100%); /* IE10+ */
	background: linear-gradient(top, #f0f0f0 0%,#e0dede 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#e0dede',GradientType=0 ); /* IE6-9 */
}