@charset "UTF-8";
/* CSS Document */

ul#nav {
	float:left;
	clear:both;
	display:block;
	background:#F33 url(../images/template/nav-bg.png) repeat-x;
	width:100%;
}

#nav li {
	display:block;
	float:left;
	height:38px;
	width:140px;
	padding-right:2px;
	background:url(../images/template/nav-div.png) right no-repeat;
	position:relative;
}

#nav li.last {
	background:none;
	width:135px;
	padding-right:0;
}

#nav li a {
	position:absolute;
	display:block;
	width:130px;
	height:29px;
	text-align:center;
	padding-top:9px;
	margin:0 5px;
	background:url(../images/template/nav-arrow.png) no-repeat center 38px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:17px;
	color:#FFF;
	text-decoration:none;
	text-shadow: 0 1px 1px #661B23;
}

#nav li a.active, #nav li a:hover {
	background-position:center 31px;
}
