@charset "UTF-8";
/* CSS Document */

#header { background:url(../images/stratachat_header_grad.gif) repeat-x #68c9cb; }
#nav li a:hover { color:#593044; }
#searchtext { background:#8adbdc; }
a.signin, a.signin:visited { color:#fff; }
.introText p { margin-top:110px; }
#header a.facebook { background-image:url(../images/facebook_stratachat.png); }
#search-icon { background:url(../images/search_stratachat.png) no-repeat; }