@charset "UTF-8";
/* CSS Document */


/*********************** HEADER PIC */

#header-pic {
	background:url(../images/template/header-grad.png) repeat-x;
	width:100% !important;
}

#header-pic img {
	display:block;
	margin-left:auto;
	margin-right:auto;
}


/*********************** CONTENT PICS */

.content img.left {
	padding:10px 20px 10px 0;
	display: block;
	float: left;
}

.content img.right {
	padding:10px 0 10px 20px;
	display: block;
	float: right;
}

.content img {
	padding:0 5px 5px 0;
	display: block;
	float: left;
}

.content img.full {
	padding-bottom:30px;
}


.file-icon {
	padding:0 10px 10px;
	display: block;
	float: left;
}

.download a p {
	display:block;
	padding-top:15px;
}

.download hr {
	clear:both;
	margin:20px 10px;
}



/*********************** BREADCRUMB LINKS */

#breadcrumbs {
	width:970px;
	margin: 0 auto;
	text-align:right;
	color:#FF9999;
	font-size:11px;
	padding-bottom:5px;
}

#breadcrumbs a {
	color:#FF6666;
	text-decoration:none;
}

#breadcrumbs a:hover {
	color:#E31B23;
	text-decoration:underline;
}


/*********************** SUB NAV */

#sub-nav, .download {
	background:#EBEBEB url(../images/template/subnav-bg.png) bottom repeat-x;
	padding:15px 10px 45px;
}

#sub-nav li {
	padding-bottom:5px;
}

#sub-nav a {
	display:block;
	text-decoration:none;
	color:#661B23;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	font-weight:bold;
	padding:5px 5px 1px;
	background:url(../images/template/arrow-link.png) 210px 10px no-repeat;
}

#sub-nav ul a {
	font-family:Verdana, Geneva, sans-serif;
	padding-left:20px;
	font-size:1em;
	font-weight:normal;
	background:none;
}

#sub-nav li:hover {
	background-color:#ccc;
}

#sub-nav li.active {
	background-color:#FF9999;
}

#sub-nav ul li.last {
	margin-bottom:10px;
}

/*********************** SHARING */

.share {
	padding-top:30px;
	min-height:65px;
	display:block;
	clear:both;
}

.fb, .twitter-share-button {
	float:left;
}


/*********************** NEWS LIST */

ul.news-list li {
	display:block;
	float:left;
	clear:both;
	padding:0 0 20px 0;
	width:100%;
	border-bottom: 1px solid #ffcccc;
	margin-bottom:20px;
}

ul.news-list li.last {
	border:none;
}

ul.news-list li img {
	float:left;
	padding:0 20px 0 0;
}

p.date {
	font-size:10px;
	color:#333;
	display:block;
	margin:0;
	padding:0 0 10px;
	font-weight:bold;
}

.content ul {
    display: block;
    font-size: 1em;
    line-height: 1.6em;
    padding-bottom: 1.2em;
    padding-left: 1.2em;
}

.content ul li {
    list-style-type: disc;
    list-style-position: inside;

}

.content ol {
    display: block;
    font-size: 1em;
    line-height: 1.6em;
    padding-bottom: 1.2em;
    padding-left: 1.2em;
}

.content ol li {
    list-style-type: decimal;
    list-style-position: inside;
}
