.tweets, .query, .tweets .loading {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #F9D1D3; 
}

.tweets .tweet_list, .query .tweet_list {
	-webkit-border-radius: .5em;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.tweets .tweet_list .awesome, .tweet .tweet_list .epic, .query .tweet_list .awesome, .query .tweet_list .epic {
	text-transform: uppercase; 
}

.tweets .tweet_list li, .query .tweet_list li {
	overflow-y: auto;
	overflow-x: hidden;
}		

.tweets .tweet_list li a, .query .tweet_list li a {
	color: #F9D1D3; 
	text-decoration:none;
	font-weight:bold;
}

.tweets .tweet_list li a:hover, .query .tweet_list li a:hover {
	color:#661B23;
	text-decoration:underline;
}

.tweets p.tweet_time {
	display:block;
	padding:2px 0 5px;
}

.tweets p.tweet_time a {
	color:#661B23;
	font-weight:bold;
}

.tweets .tweet_list .tweet_avatar, .query .tweet_list .tweet_avatar {
	float: left; 
}

.tweets .tweet_list .tweet_avatar img, .query .tweet_list .tweet_avatar img {
	vertical-align: middle; 
}
