@charset "UTF-8";
/* CSS Document */

body, p, .signin { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; }

p { font-size:13px; line-height:16px; color:#999; margin-bottom: 8px;  }

h1, h2, h3, h4, h5, #promo p, .introText p  { 
	font-family: Museo-500, "Trebuchet MS", Arial, Helvetica, sans-serif;; 
	font-weight: normal; 
	font-style: normal; 
}

a { color:#666; }

.smaller { font-size:11px; }

#nav li a, #nav li a:visited { font-family:Museo-300; font-size:21px; color:#fff; text-transform:lowercase; text-decoration:none; padding:10px 15px 10px; background:url(../images/active.gif) center 42px no-repeat; }
#nav li:last-child a { padding-right:10px; }
#nav li a:hover { color:#ed145b; }
#nav li a.selected { background-position:center 32px; }

a.signin, a.signin:visited { color:#ed145b; font-size:12px; text-decoration:none; padding:7px 10px; margin-right:165px; float:right; }
a.signin:hover { color:#fff; background-color:#ed145b; }

#promo p, #sub_promo p { font-family: Museo-300; color:#fff; font-size:55px; line-height:normal; margin-bottom:20px;  }
#sub_promo p { font-size:32px; font-family: Museo-500; margin-top:30px; }
.bigButton { font-family: Museo-500; font-size:32px; text-transform:uppercase; color:#fff; text-decoration:none; display:block; padding:17px 25px 13px; text-align:center; width:auto; border:3px solid #ed145b; }
#sub_promo .bigButton { font-size:22px; padding: 10px 20px 8px; margin-top:22px; }

.introText p { font-size:22px; line-height:30px; color:#593044; padding:0 20px; margin-top:100px;  }
.introText .arrowlink { margin-right:20px; }
.introText.sub h2 { padding:20px 20px 0 20px;  }
.introText.sub h2.indent { margin-top:60px;  }
.introText.sub p { margin-top:10px; font-family: Museo-300;  }

.arrowlink { font-family: Museo-500; font-size:18px; color:#593044; background:url(../images/linkarrow.png) 10px center no-repeat; padding:10px 10px 7px 35px; text-decoration:none; float:right; line-height:20px; }
.arrowlink:hover { color:#fff; background-color:#ed145b; }

h2, .feature h2 { color:#593044; font-size:26px; line-height:26px; margin-bottom:4px; }
.feature.sub h2 {  }
.feature.sub p { font-size:14px; line-height:18px;  margin-bottom: 10px; }
.testimonial { font-family: Museo-300; font-size:21px; line-height:28px; padding:0 10px; }
h2.agm { padding-top:40px; }
h2.min { padding-top:30px; }
h2.budget { padding-top:20px; }
h2.comm { }
h2.help { padding-top:20px; }

h3 { color:#593044; }

.name { font-style:italic; padding:5px 10px; }
.watchButton { font-family: Museo-500; font-size:18px; color:#593044; padding:14px 0 10px 0; text-decoration:none; display:block; width:auto; position:absolute; bottom:10px; right:390px; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; border:1px solid #c7c7c7; }
.watchButton span { background:url(../images/playBtn.png) no-repeat 6px center; padding:14px 20px 10px 50px;  }

.price, .intro { font-family: Museo-300; color:#6bcacc; font-size:24px; margin:20px 0 5px; line-height:30px;  }

#call2act p { font-family:Museo-300; color:#593044; font-size:21px; line-height:normal;  }
#call2act h2 { font-family:Museo-500; color:#ed145b; font-size:28px;  }
#call2act p a, #call2act p a:visited { color:#593044; text-decoration:none; }
#call2act p a:hover { background-color:#68c9cb; }
#footer p { color:#826f78; font-size:11px; line-height:14px; margin-top:8px; margin-bottom:0; }
.copyr { text-align:right; }

/** no jquery **/
body.noJquery #nav li a:hover, #nav li a.selected { background-position:center 32px; }

/** css3 **/
a.signin, .arrowlink { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.bigButton  { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }

#promo p, #sub_promo p { text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);  }

.bigButton {
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4); 
	filter: dropshadow(color=rgba(0, 0, 0, 0.4), offx=0, offy=-1);
	background: #ed145b; /* Old browsers */
	background: -moz-linear-gradient(top, #ed145b 0%, #c3104b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed145b), color-stop(100%,#c3104b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ed145b 0%,#c3104b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ed145b 0%,#c3104b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ed145b 0%,#c3104b 100%); /* IE10+ */
	background: linear-gradient(top, #ed145b 0%,#c3104b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed145b', endColorstr='#c3104b',GradientType=0 ); /* IE6-9 */
}

.bigButton:hover {
	border-color:#c3104b;
	text-shadow: 0px -2px 0px rgba(0, 0, 0, 0.4); 
	filter: dropshadow(color=rgba(0, 0, 0, 0.4), offx=0, offy=-2);
	background: #c3104b; /* Old browsers */
	background: -moz-linear-gradient(top, #c3104b 0%, #ed145b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3104b), color-stop(100%,#ed145b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c3104b 0%,#ed145b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c3104b 0%,#ed145b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c3104b 0%,#ed145b 100%); /* IE10+ */
	background: linear-gradient(top, #c3104b 0%,#ed145b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3104b', endColorstr='#ed145b',GradientType=0 ); /* IE6-9 */
}

.watchButton {
	-webkit-box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
	box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.25); 
	background: #f6f6f6; /* Old browsers */
	background: -moz-linear-gradient(top, #f6f6f6 50%, #cfcfcf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#f6f6f6), color-stop(100%,#cfcfcf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f6f6f6 50%,#cfcfcf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f6f6f6 50%,#cfcfcf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f6f6f6 50%,#cfcfcf 100%); /* IE10+ */
	background: linear-gradient(top, #f6f6f6 50%,#cfcfcf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#cfcfcf',GradientType=0 ); /* IE6-9 */
}

.watchButton:hover {
	background: #cfcfcf; /* Old browsers */
	background: -moz-linear-gradient(top, #cfcfcf 0%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cfcfcf 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cfcfcf 0%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cfcfcf 0%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(top, #cfcfcf 0%,#f6f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}