td {
    font-size: 8pt;
}

.edit_post_left {
    width: 500px;
    float: left;
}

.edit_post_right {
    width: 210px;
    float: left;
    text-align: center;
}

.edit_post_header {
    margin-top: 15px;
    font-weight: bold;
}

.admin_menu {
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin-bottom: 15px;

}

.notice {
    width: 650px;
    color: blue;
    border: solid 1px blue;
    padding: 10px 10px 10px 70px;
    background-image: url(/images/icons/48/about.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    min-height:48px;
}

.error {
    width: 650px;
    color: red;
    border: solid 2px red;
    padding: 10px 10px 10px 70px;
    background-image: url(/images/icons/48/warning.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    min-height:48px;
}

td.title {
    width: 300px;
}

td.caption {
    width: 400px;
}

td.fileType {
    width: 50px;
    text-align: center;
}

td.fileSize {
    width: 60px;
    text-align: right;
}

td.date {
    width: 100px;
    text-align: right;
}

td.actions {
    width: 60px;
    text-align: center;
}