body {
    font-size: 10pt;
    font-family: Verdana, Geneva, sans-serif;
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 14px;
    color: rgb(160,170,180);
}

h3 {
    font-size: 14px;
}

a {
    border: none;
}

p {
    font-size: 10pt;
}

blockquote {
    font-size: 10pt;
    background-color: rgb(240,240,240);
    padding: 10px;
}


img {
    border-style: none;
}

div.form_left {
    width: 250px;
    text-align: right;
    float: left;
    margin-bottom:10px;
    clear: left;
}

div.form_req {
    font-weight: bold;
}

div.form_right {
    width: 300px;
    float: left;
    margin-left: 20px;
    margin-bottom:10px;
    color: gray;
}

div.form_error {
    border: 2px solid red;
    color: red;
    width: 500px;
}

div.form_section {
    clear:both;
    width: 100%;
    text-align: center;
    font-size:12pt;
    font-weight:bold;
    margin-top: 50px;
    margin-bottom: 10px;
}

div.left, div.right, table.event, td.eventDate, td.eventTitle, td.eventSummary, div.user, div.user ul, div.news, div.notice{
	font-family: Verdana, Geneva, sans-serif;
	font-size:16px;
}

div.container {
	width: 900px;
	padding: 0;
	border: none;
}

div.left {
	width: 69%;
	height: 100%;
	padding: 0;
	margin: 0;
	float: left;
}

div.right {
	width: 27%;
	height: 100%;
	padding: 10px;
	margin: 0;
	border: thin solid #666;
    border-top: 0;
	float:right;
}

div.left_gallery {
	width: 69%;
	height: 100%;
	padding: 0;
	margin: 0;
	float: left;
}

div.right_gallery {
	width: 27%;
	height: 100%;
	padding: 10px;
	margin: 0;
	float:right;
}

table.event {
    border-width: 0;
	width: 100%;
	margin-bottom: 15px;
}

td.eventDate{
	background: #969696;
	font-size: 18px;
	font-weight: bold;
	color: #333;
    padding-left: 10px;
    padding-right: 10px;
	width: 120px;
	text-align: center;
    border-width: 0;
}

td.eventTitle{
	background: #666;
	font-size: 18px;
	font-weight: bold;
	color: #CCC;
	text-align:left;
	padding-left: 15px;
    border-width: 0;
}

td.eventTitle a{
	display: block;
	text-decoration: none;
	color: #CCC;
}

td.eventSummary{
	background: #FFFFFF;
	color: #333;
	text-align: left;
	padding: 10px;
    border-width: 0;
}

div.user{
	width: 100%;
}

div.user ul{

}

div.user li{

}


div.news{
	width: 100%;
}

div.noticeBoard{
	width: 100%;
}

div.notice{

}

div.noticeName{
	background-color: #CCC;
	text-align: left;
	text-decoration: underline;
	font-weight: bold;
	font-size:18px;
}

div.noticePost{
	margin-bottom: 10px;
	padding-top: 5px;
}

div.header {
    padding: 0 0 10px 0;
	width: 900px;
	height: 150px;
}

div.header img {
	width: 900px;
	height: 150px;
    margin: 0;
}

div.nav {
	width: 900px;
	height: 25px;
    margin: 0;
    padding: 0;
	font-family: Lucida Grande, Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 23px;
	font-weight:normal;
	background: url(../images/norm.jpg) repeat-x;
    clear:both;
}

div.nav a {
	float: left;
	height: 25px;
    margin: 0;
    padding-right: 8px;
    padding-left: 8px;
	color: white;
	text-decoration: none;
	text-align: center;
}

div.nav a:hover {
	float: left;
	height: 25px;
    margin: 0;
    padding-right: 8px;
    padding-left: 8px;
	color: #ccc;
	text-decoration: none;
	text-align: center;
	background: url(../images/roll.jpg) repeat-x;
}

div.eventThumb {
    float: left;
    margin-right: 15px;
}

div.comment_header {
    border-top-style: solid;
    border-top-color: lightblue;
    border-top-width: 3px;
    clear: both;
    width: 600px;
    
}

div.comment_header_left {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 10pt;
    font-weight: bold;
    color: #a9a9a9;
    float: left;
    width: 400px;
}

div.comment_header_right {
    font-size: 10pt;
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: bold;
    color: #a9a9a9;
    float: left;
    width: 200px;
    text-align: right;
}

a.no_underline {
    text-decoration: none;
}

div.comment {
    font-size: 10pt;
    clear: both;
    width: 600px;
    margin-top: 3px;
    padding-top: 3px;
    border-top-style: solid;
    border-top-color: lightblue;
    border-top-width: 1px;
}